body {
    margin: 0;
}

.hero {
    background: url(/img/bg.png);
    background-size: cover;
    background-position: center;
}

.logo {
    display: flex;
    justify-content: center;
    align-content: center;
    padding-top: 41px;
    padding-bottom: 317px;
}

.content {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.hero h1 {
    font-size: 60px;
    color: white;
    font-family: sans-serif;
    text-align: center;
    margin-bottom: 10px;
    font-size: 60px;
    line-height: 70px;
    letter-spacing: 5.70937px;
}

.hero p {
    color: white;
    text-align: center;
    margin-top: 0px;
    padding-bottom: 221px;
}

.hero a {
    padding-bottom: 71px;
    text-decoration: none;
    color: white;
    text-align: center;
    font-weight: 600;
    font-size: 11px;
    line-height: 15px;
}

header {
    background-color: white;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0 55px 0 55px;
}
.nav a{
    color: black;
}